server:
  port: 8000
  
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka 
  
spring:
  application:
    name: cliente-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cliente_service?useTimezone=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true 
  flyway:
    url: jdbc:mysql://localhost:3306/cliente_service?useTimezone=true&serverTimezone=UTC
    user: root
    password: root
    
management:
  endpoints:
    web:
      exposure:
        include:
        - '*' #actuator

